.commentbox {
  background-color: rgb(246, 246, 246);
  padding: 1.2rem;
  border-radius: 14px;
  margin: 2rem 0;
}
.commentbox-content {
  padding: 1rem;
}
.commetbot-delete {
}

.commentbox-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}
